apiVersion: apps/v1
kind: Deployment
metadata:
  name: githubactions
  labels:
    app: githubactions
spec:
  replicas: 1
  selector:
    matchLabels:
      app: githubactions
  template:
    metadata:
      labels:
        app: githubactions
    spec:
      containers:
        - name: githubactions
          image: nithi17/myimage:latest
          ports:
            - containerPort: 5000
          livenessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 3
          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
