apiVersion: apps/v1
kind: Deployment
metadata:
  name: Github-actions
  labels:
    app: Github-actions
spec:
  replicas: 1
  selector:
    matchLabels:
      app: Github-actions
  template:
    metadata:
      labels:
        app: Github-actions
    spec:
      containers:
        - name: Github-actions
          image: nithi17/myimage:latest
          ports:
            - containerPort: 5000
          livenessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 3
          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
